Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [ ]:
print(max((tuple(input("Enter a string: ").split())),key=len))

Enter a string: My name is james bond
james

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [ ]:
print(sorted([(input("Enter rollno: "), input("Enter marks: ")) for i in range(int(input("Enter number of students")))], key=lambda x: x[1],reverse=True))

Enter number of students4
Enter rollno: 1
Enter marks: 23
Enter rollno: 2
Enter marks: 25
Enter rollno: 3
Enter marks: 21
Enter rollno: 4
Enter marks: 28
[('4', '28'), ('2', '25'), ('1', '23'), ('3', '21')]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [ ]:
print(sorted([(input("Enter name: "), input("Enter salary: ")) for i in range(int(input("Enter number of employees")))], key=lambda x: x[0]))

Enter number of employees4
Enter name: jayraj
Enter salary: 25000
Enter name: atish
Enter salary: 27500
Enter name: raj
Enter salary: 21000
Enter name: dhruvil
Enter salary: 29000
[('atish', '27500'), ('dhruvil', '29000'), ('jayraj', '25000'), ('raj', '21000')]